* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-heading: Sen, sans-serif;
  --primary-color: #ffb900;
}

/* Common */
.content {
  width: 1170px;
  /* Chiều ngang cố định giúp khi co giãn ko bị rớt elements */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  z-index: -3;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

/* ===== END Common ===== */

/* Header */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 6px;
}

.header.fixed {
  position: sticky;
  top: -30px;
  z-index: 1000;
  background: #fffcf4;
}

.header {
  background: #fffcf4;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

/* Hover */
.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.action {
  margin-left: 41px;
}

/* Button sign up*/
.header .sign-up-btn {
  min-width: 144px;
}

/* ===== Hero ===== */
.hero {
  padding-top: 58px;
  padding-bottom: 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover; /* Giúp ảnh ko bị méo vỡ*/
}

/* ===== Hero summary =====*/
.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 28px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
  display: flex;
  justify-items: center;
  align-items: center;
}

.hero .hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero .hero-summary .info {
  margin-left: 16px;
}

.hero .hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero .hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .hero-summary .item + .item {
  margin-top: 22px;
}

/* ===== Hero right =====*/
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.hero .content-block .desc {
  margin: 22px 0 0;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .cta-group {
  margin: 38px 0 48px;
}

.hero .content-block .hero-cta {
  display: inline-block;
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background-color: var(--primary-color);
}

.hero .content-block span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.hero .content-block .stats {
  display: flex;
}

.hero .content-block .stats .desc + .desc {
  margin-left: 28px;
}

.hero .content-block .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 44px;
  padding-right: 6px;
  font-weight: 700;
  line-height: 1.22;
}

.hero .cta-group {
  display: flex;
  align-items: center;
}

.hero .content-block .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero .content-block .bg-icon {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video .icon {
  position: absolute;
  display: flex;
  padding: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffb900;
  width: 20px;
  height: 20px;
}

.hero .content-block .stats .right {
  margin-top: 8px;
}

/* ===== Body page ===== */
