* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.content {
  width: 1170px;
  /* Chiều ngang cố định giúp khi co giãn ko bị rớt elements */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

/* ===== END Common ===== */

/* Header */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 6px;
}

.header.fixed {
  position: sticky;
  top: -30px;

  background: #fffcf4;
}

.header {
  background: #fffcf4;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

/* Hover */
.nav a:hover,
.nav li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.action {
  margin-left: 41px;
}

/* Button sign up*/
.header .sign-up-btn {
  min-width: 144px;
}

/* ===== Hero ===== */
